@import './css/reset.css';
@import './css/vars.css';

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  background-color: var(--colorBackground);
  font-family: var(--font);
  color: var(--colorText);
}

@media only screen and (max-width: 375px) {

}

@media only screen and (max-width: 835px) {
}
