@import './css/reset.css';
@import './css/vars.css';

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

html, body {
  box-sizing: border-box;
  background-color: var(--colorBackground);
  color: var(--colorText);
  cursor: none;
  max-width: 100%;
}

::selection {
  background: var(--colorBackground);
  color: #ff6534;
}

.highlight {
  color: var(--colorHighlight);
}

/* .easter__egg {
  position: relative;
  z-index: 999;
} */

.hidden-mobile {
  display: none;
  visibility: hidden;
}

.part__3 {
  background-color: white;
  color: black;
}

.shelf__container {
  display: none;
  visibility: hidden;
}

.body__text {
  font-size: 1rem;
  font-family: var(--font);
  line-height: 1.6rem;
  padding-left: var(--mobileSpacer);
  max-width: 22rem;
}

.body__text-center {
  font-size: 1rem;
  font-family: var(--font);
  line-height: 1.6rem;
  padding: 0 var(--mobileSpacer);
  max-width: 22rem;
  text-align: center;
  margin: auto;
}

.chapter {
  font-family: adobe-caslon-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
}

.title {
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  font-style: italic;
}

.body__text-padding {
  padding-bottom: 2rem;
}

.header {
  height: 51rem;
}

.header__title {
  font-family: adobe-caslon-pro, serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 3.75rem;
  max-width: 18rem;
  margin: auto;
  padding-top: 10rem;
}

.header__text {
  margin: auto;
  padding-top: 2rem;
  text-align: center;
  font-size: 1rem;
  font-family: var(--font);
  line-height: 1.6rem;
  padding-left: var(--mobileSpacer);
  max-width: 22rem;
}

.header__slanted {
  font-size: 1rem;
  text-align: center;
  padding-top: 1.5rem;
  margin: auto;
  font-family: var(--font);
  font-style: italic;
  font-weight: 100;
  max-width: 10rem;
}

.introduction {
  padding-bottom: 15rem;
  border-bottom: solid .2rem white;
}

.intro__title-mobile {
  font-family: adobe-caslon-pro, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.5rem;
  padding-left: var(--mobileSpacer);
}

.img__william {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 30rem;
  padding: 2rem;
}

.intro__text {
  font-style: italic;
  font-weight: 200;
  padding-left: var(--mobileSpacer);
  max-width: 22rem;
}

.part__1 {
  padding-bottom: 12rem;
}

.date {
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 5rem;
  letter-spacing: 2.5rem;
  text-align: center;
  margin: auto;
  padding: 2.5rem;
}

.chapter__1 {
  padding-left: 1rem;
  padding-bottom: 1.2rem;
}

.title__life {
  font-size: 2.5rem;
  padding-left: var(--mobileSpacer);
  padding-bottom: 1rem;
}

.title__call {
  margin: auto;
  font-size: 4rem;
  text-align: center;
  padding-right: 2rem;
}

.title__adventure {
  text-align: center;
  font-size: 2.5rem;
  padding-right: 1.8rem;
  padding-bottom: 1rem;
}

.img__guns {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 30rem;
  padding: 2rem;
}

.quote {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.quote__text {
  font-size: 1.8rem;
  margin: auto;
  text-align: center;
  line-height: 2.5rem;
  padding: 0 1rem;
}

.part__2 {
  margin-bottom: 10rem;
  padding-top: 2rem;
  overflow: hidden;
}

.chapter__2-container {
  position: relative;
  z-index: 1;
}

.chapter__2 {
  text-align: center;
  margin: auto;
  padding-bottom: 1.5rem;
}

.title__love {
  text-align: center;
  margin: auto;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.type__punches {
  position: relative;
  opacity: 60%;
}

.type__punch-a {
  position: absolute;
  z-index: 0;
  margin: auto;
  left: -20rem;
  right: 0;
  text-align: center;
  margin-top: -33rem;
  transform: rotate(-15deg);
}

.type__punch-b {
  position: absolute;
  z-index: 0;
  margin: auto;
  left: 0;
  right: -18rem;
  text-align: center;
  margin-top: -30rem;
  transform: rotate(15deg);
}

.type__punch-c {
  position: absolute;
  z-index: 0;
  margin: auto;
  left: -20rem;
  right: 0;
  text-align: center;
  margin-top: -20rem;
  transform: rotate(-16deg);
}

.type__punch-e {
  position: absolute;
  overflow: hidden;
  z-index: 0;
  margin: auto;
  left: 0;
  right: -20rem;
  text-align: center;
  margin-top: -19rem;
  transform: rotate(-15deg);
}

.type__punch-d {
  position: absolute;
  z-index: 0;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -6rem;
  transform: rotate(-13deg);
}

.type__punch {
  width: 100%;
  max-width: 6rem;
}

.title__friends {
  text-align: center;
  margin: auto;
  font-size: 2.5rem;
  padding-bottom: 2rem;
  line-height: 3rem;
}

.chapter__3 {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.title__success {
  font-size: 2.5rem;
  padding-bottom: 2rem;
  padding-left: var(--mobileSpacer);
}

.quote-slide {
  overflow: hidden;
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  font-style: italic;
  margin-top: 6rem;
  margin-bottom: 4rem;
  white-space: nowrap;
  font-size: 2.5rem;
  padding-top: 1rem;

}

.quote-slide blockquote {
  display: inline-block;
  padding-left: 100%;
  animation: quote-slide 60s linear infinite;
}

@keyframes quote-slide {

  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.specimen__text {
  font-size: 1rem;
  font-family: var(--font);
  line-height: 1.6rem;
  padding-left: var(--mobileSpacer);
  max-width: 22rem;
}

form {
  margin-top: 4rem;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.title__specimen {
  font-family: var(--font);
  font-size: 1.25rem;
  margin: auto;
}

.input__field {
  border: solid 1px black;
  height: 2rem;
  width: 15rem;
}

.button {
  font-family: var(--font);
  border: solid 1px black;
  margin-top: 1rem;
}

.button-reset {
  background-color: white;
  padding: .5rem;
  width: 5rem;
  margin-right: .5rem;
}

.button-go {
  background-color: black;
  color: white;
  padding: .5rem;
  width: 5rem;
  margin-left: .5rem;
}

.specimen__interaction {
  display: flex;
  margin: auto;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  max-width: 20rem;
  padding-bottom: 5rem;
}

.specimen__description {
  display: flex;
  align-self: flex-end;
  font-size: .8rem;
  padding-bottom: .5rem;
}

.specimen__regular {
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  font-style: normal;
}

.specimen__italic {
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  font-style: italic;
}

.specimen__bold {
  font-family: adobe-caslon-pro, serif;
  font-weight: 700;
  font-style: normal;
}

.specimen__lowercase {
  font-size: 3rem;
  text-transform: lowercase;
  text-align: center;
  padding-bottom: .5rem;
}

.specimen__uppercase {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.part__4 {
  position: relative;
  overflow: hidden;
  margin-bottom: 6rem;
}

.img__shapes {
  position: absolute;
  margin-top: -30rem;
  width: 100%;
  max-width: 30rem;
  left: 8rem;
  opacity: 40%;
}

.chapter__4 {
  padding-left: 1rem;
  margin-bottom: auto;
  padding-bottom: 1rem;
  margin-top: 2.5rem;
}

.title__world {
  font-size: 2.5rem;
  padding-bottom: 2rem;
  padding-left: var(--mobileSpacer);
}

.chapter__4-middle {
  padding-left: 3rem;
  font-size: 1.1rem;
}

.chapter__5 {
  text-align: center;
  margin-bottom: auto;
  padding-bottom: 1rem;
  margin-top: 2.5rem;
}

.circle {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 23rem;
  padding: 2rem;
  padding-bottom: 2.5rem;
}

.title__characteristics {
  text-align: center;
  margin: auto;
  font-size: 2.2rem;
  padding-bottom: 2rem;
  max-width: 19rem;
  line-height: 2.6rem;
}

.characteristics__text {
  padding-bottom: 6rem;
  font-size: 1rem;
  font-family: var(--font);
  line-height: 1.6rem;
  padding-left: var(--mobileSpacer);
}

.characteristic__text {
  margin: auto;
  display: block;
  width: 20rem;
  padding-bottom: 3rem;
}

.intro__title-desktop {
  display: none;
  visibility: hidden;
}

@media only screen and (min-width: 450px) {

  .body__text {
    max-width: 25rem;
  }

  .body__text-center {
    max-width: 25rem;
  }

  .part__2 {
    padding-top: 4rem;
  }

  .quote__text {
    font-size: 2rem;
  }

  .intro__title-mobile {
    font-size: 2rem;
  }

}

@media only screen and (min-width: 570px) {

  .header__title {
    font-size: 5rem;
    max-width: 25rem;
  }

  .header__text {
    max-width: 25rem;
    font-size: 1.2rem;
    line-height: 1.9rem;
    padding-bottom: 2rem;
  }

  .title__characteristics {
    max-width: 30rem;
  }

}

@media only screen and (min-width: 700px) {

  .hidden-dektop {
    display: none;
    visibility: hidden;
  }

  .hidden-mobile {
    display: block;
    visibility: visible;
  }

  .sticky {
    position: sticky;
    top: 40px;
    margin: auto;
    max-width: 25rem;
  }

  .shelf__container {
    display: flex;
    visibility: visible;
    flex-flow: row;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: -.2rem;

  }

  .img__shelf-l {
    position: static;
    width: 100%;
    max-width: 24rem;
    margin-left: -13rem;
  }

  .img__shelf-r {
    position: static;
    width: 100%;
    max-width: 24rem;
    margin-right: -13rem;
  }

  .body__text {
    max-width: 42rem;
    padding-left: var(--desktopSpacer);
  }

  .body__text-center {
    max-width: 32rem;
  }

  .chapter {
    font-size: 1.5rem;
  }

  .header__title {
    font-size: 8rem;
    max-width: 40rem;
    padding-top: 5rem;
    padding-left: 4rem;
    margin: 0;
    text-align: start;
  }

  .header__text {
    margin: 0;
    padding-top: 1rem;
    padding-left: 5rem;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.6rem;
    max-width: 40rem;
  }

  .header__slanted {
    padding-top: 4rem;
    text-align: right;
    margin-right: 0;
    padding-right: 4rem;
    max-width: 15rem;
    display: flex;
    justify-self: flex-end;
  }

  .introduction__container {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-evenly;
  }

  .intro__title-desktop {
    display: block;
    visibility: visible;
    font-family: adobe-caslon-pro, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
    padding-left: var(--desktopSpacer);
    padding-bottom: 1rem;
    max-width: 30rem;
  }

  .intro__title-mobile {
    display: none;
    visibility: hidden;
  }

  .intro__text-container {
    display: flex;
    flex-flow: column;
    align-self: center;
  }

  .intro__text {
    font-size: 1.3rem;
    line-height: 2rem;
    width: 100%;
    max-width: 35rem;
  }

  .img__william {
    display: block;
    overflow: hidden;
    margin: 0;
    width: 100%;
    max-width: 35rem;
    padding: 1rem;
  }

  .date {
    display: block;
    font-size: 9rem;
    letter-spacing: 5rem;
    margin: auto;
    padding: 4rem;
    padding-left: 6rem;
  }

  .chapter__1 {
    padding-left: 2rem;
  }

  .title__life {
    padding-left: var(--desktopSpacer);
    font-size: 3rem;
    padding-bottom: 1.5rem;
  }

  .title__call {
    font-size: 5rem;
  }

  .title__adventure {
    font-size: 3rem;
    text-align: center;
    margin-left: 12rem;
    padding-bottom: 5rem;

  }

  .adventure__container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  .adventure__text {
    margin-left: -2rem;
    max-width: 30rem;
    padding-right: 2rem;
  }

  .img__guns {
    max-width: 30rem;
    padding: 2rem 1rem;
  }

  .quote__text {
    font-size: 3rem;
    width: 100%;
    padding: 0 3rem;
    line-height: 4rem;
  }

  .title__love {
    font-size: 3rem;
  }

  .part__2 {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .type__punches {
    opacity: 100%;
  }

  .type__punch {
    max-width: 7rem;
  }

  .type__punch-a {
    left: -25rem;
  }

  .type__punch-b {
    right: -30rem;
  }

  .type__punch-c {
    margin-top: -15rem;
    left: -33rem;
  }

  .type__punch-e {
    right: -34rem;
    margin-top: -13rem;
  }

  .type__punch-d {
    margin-top: 3rem;
  }

  .title__friends {
    font-size: 3rem;
  }

  .chapter__3 {
    padding-top: 5rem;
    padding-left: 3rem;
  }

  .title__success {
    font-size: 3rem;
    padding-left: 3rem;
  }

  .specimen__text-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-bottom: 7rem;
  }

  .specimen__text {
    font-size: 1rem;
    font-family: var(--font);
    line-height: 1.6rem;
    max-width: 42rem;
    padding: 1.5rem;
  }

  .specimen__text-border {
    border-right: solid black 1px;
  }

  .chapter__4 {
    text-align: start;
    padding-left: 2rem;
  }

  .title__world {
    font-size: 3rem;
    padding-left: 3rem;
  }

  .text__world {
    max-width: 27rem;
  }

  .chapter__4-middle {
    max-width: 30rem;
    padding-left: 7rem;
  }

  .part__4 {
    position: relative;
    overflow: hidden;
  }

  .img__shapes {
    position: absolute;
    margin-top: -33rem;
    width: 100%;
    max-width: 33rem;
    left: 12rem;
  }

  .title__characteristics {
    max-width: 30rem;
  }

  .characteristics__text {
    display: block;
    margin: auto;
    text-align: center;
    padding-left: 0;
    max-width: 40rem;
  }

  .img__characteristics {
    display: block;
    margin: auto;
    width: 100%;
    padding: 1rem;
    max-width: 90rem;
  }

  .characteristics__words {
    display: flex;
    justify-content: space-evenly;
    font-size: .8rem;
    font-family: var(--font);
    line-height: 1.6rem;
    margin-bottom: 5rem;
  }

  .characteristic-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .characteristic__text-container {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    max-width: 50rem;
    padding: 2rem;
    font-size: 1rem;
    font-family: var(--font);
    line-height: 1.6rem;
  }

  .characteristic__text-container-1 {
    border-right: solid white 1px;
  }

}

@media only screen and (min-width: 900px) {

  .hidden-dektop {
    display: none;
    visibility: hidden;
  }

  .hidden-mobile {
    display: block;
    visibility: visible;
  }

  .sticky {
    max-width: 29rem;
  }

  .img__shelf-l {
    margin-left: -9rem;
  }

  .img__shelf-r {
    margin-right: -9rem;
  }
}

@media only screen and (min-width: 1200px) {

  .page-wrapper {
    position: fixed;
    display: flex;
    /* transition: .4s ease-out; */
    align-content: center;
    justify-content: center;
  }

  .dot {
    position: fixed;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #ff6534;
    border-radius: 20px;
    z-index: 1;
  }

  .cursor {
    overflow: visible;
    justify-self: center;
    align-self: center;
    position: fixed;
    z-index: 1;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--colorHighlight);
    filter: blur(60px);
    color: transparent;
  }

  .header {
    height: 65rem;
  }

  .header__title {
    padding-top: 7rem;
    padding-left: 7rem;
    font-size: 10rem;
    max-width: 50rem;
  }

  .header__text {
    padding-left: 9rem;
    max-width: 50rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
  }

  .body__text {
    max-width: 55rem;
    font-size: 1.3rem;
    line-height: 2.4rem;
  }

  .body__text-center {
    font-size: 1.3rem;
    max-width: 45rem;
    line-height: 2.4rem;
  }

  .body__text-padding {
    padding-bottom: 2.5rem;
  }

  .intro__title-desktop {
    font-size: 3.5rem;
    max-width: 40rem;
  }

  .intro__text {
    max-width: 40rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .img__william {
    width: 100%;
    max-width: 35rem;
  }

  .date {
    font-size: 15rem;
    padding-left: 7rem;
    padding-top: 12rem;
  }

  .chapter {
    font-size: 2rem;
  }

  .part__1 {
    padding-bottom: 18rem;
  }

  .chapter__1 {
    padding-bottom: 2rem;
  }

  .title__life {
    font-size: 5rem;
  }

  .title__call {
    font-size: 7rem;
  }

  .title__adventure {
    font-size: 5rem;
    padding-left: 8rem;
  }

  .img__guns {
    max-width: 35rem;
  }

  .adventure__text {
    max-width: 40rem;
  }

  .quote {
    margin-top: 15rem;
  }

  .quote__text {
    font-size: 5rem;
    line-height: 6rem;
  }

  .part__2 {
    padding-bottom: 25rem;
  }

  .title__love {
    font-size: 5rem;
  }

  .type__punch {
    max-width: 11rem;
  }

  .type__punch-a {
    left: -50rem;
    margin-top: -35rem;
  }

  .type__punch-b {
    margin-top: -30rem;
    right: -55rem;
  }

  .type__punch-c {
    margin-top: -10rem;
    left: -43rem;
  }

  .type__punch-e {
    margin-top: -7rem;
    right: -43rem;
  }

  .type__punch-d {
    margin-top: 7rem;
  }

  .title__friends {
    font-size: 5rem;
    max-width: 37rem;
    line-height: 6rem;
  }

  .chapter__3 {
    padding-top: 8rem;
    padding-bottom: 2rem;
  }

  .title__success {
    font-size: 5rem;
  }

  .quote-slide {
    font-size: 4rem;
    margin-top: 13rem;
    margin-bottom: 10rem;
  }

  .specimen__text {
    font-size: 1.3rem;
    max-width: 40rem;
    padding: 2rem;
    line-height: 2.5rem;
  }

  .title__specimen {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .input__field {
    height: 2.5rem;
    width: 30rem;
  }

  .button {
    margin-top: 1.5rem;
  }

  .button-go {
    width: 10rem;
    height: 2.5rem;
  }

  .button-reset {
    width: 10rem;
    height: 2.5rem;
  }

  form {
    margin-bottom: 5rem;
  }

  .specimen__interaction {
    max-width: 30rem;
    padding-bottom: 10rem;
  }

  .specimen__lowercase {
    font-size: 4rem;
  }

  .specimen__uppercase {
    font-size: 4rem;
  }

  .specimen__description {
    font-size: 1rem;
  }

  .part__4 {
    padding-bottom: 7rem;
  }

  .chapter__4 {
    margin-top: 5rem;
    padding-bottom: 2rem;
  }

  .title__world {
    font-size: 5rem;
  }

  .text__world {
    max-width: 45rem;
  }

  .chapter__4-middle {
    max-width: 43rem;
    font-size: 1.5rem;
  }

  .img__shapes {
    max-width: 45rem;
    left: 30rem;
    margin-top: -35rem;
  }

  .part__5 {
    padding-top: 5rem;
  }

  .title__characteristics {
    font-size: 4rem;
    max-width: 45rem;
    line-height: 5rem;
  }

  .characteristics__text {
    font-size: 1.3rem;
    max-width: 70rem;
    padding-bottom: 10rem;
    line-height: 2.4rem;
  }

  .img__characteristics {
    padding: 3rem;
  }

  .characteristics__words {
    font-size: 1rem;
    margin-bottom: 8rem;
  }

  .characteristic__text-container {
    max-width: 40rem;
    line-height: 2.5rem;
    font-size: 1.3rem;
  }

  .sticky {
    max-width: 35rem;
  }

  .img__shelf-l {
    position: static;
    width: 100%;
    max-width: 35rem;
    margin-left: -13rem;
  }

  .img__shelf-r {
    position: static;
    width: 100%;
    max-width: 35rem;
    margin-right: -13rem;
  }
}

@media only screen and (min-width: 1700px) {

  .body__text {
    max-width: 70rem;
    font-size: 1.3rem;
    line-height: 2.5rem;
    padding-left: 10rem;
  }

  .body__text-center {
    font-size: 1.3rem;
    line-height: 2.2rem;
    max-width: 55rem;
  }

  .img__william {
    max-width: 45rem;
  }

  .intro__title-desktop {
    font-size: 4rem;
    max-width: 45rem;
  }

  .intro__text {
    max-width: 50rem;
  }

  .date {
    font-size: 20rem;
    padding-top: 12rem;
    letter-spacing: 10rem;
    padding-left: 10rem;
  }

  .chapter {
    font-size: 2.5rem;
    padding-left: 4rem;
  }

  .chapter__1 {
    padding-bottom: 2rem;
  }

  .title__life {
    font-size: 7rem;
    padding-left: 6rem;
  }

  .part__1 {
    padding-bottom: 28rem;
  }

  .title__call {
    font-size: 10rem;
  }

  .title__adventure {
    font-size: 7rem;
    padding-left: 20rem;
  }

  .img__guns {
    max-width: 50rem;
  }

  .adventure__text {
    max-width: 60rem;
  }

  .quote {
    margin-top: 25rem;
    margin-bottom: 15rem;
  }

  .quote__text {
    max-width: 100rem;
    font-size: 6rem;
    line-height: 7rem;
  }

  .chapter__2 {
    padding-bottom: 2rem;
  }

  .title__love {
    font-size: 7rem;
    padding-bottom: 2.5rem;
  }

  .part__2 {
    padding-top: 15rem;
    padding-bottom: 30rem;
    margin-bottom: 20rem;
  }

  .type__punch {
    max-width: 12rem;

  }

  .type__punch-a {
    margin-top: -45rem;
    left: -65rem;
  }

  .type__punch-b {
    margin-top: -37rem;
    right: -70rem;
  }

  .type__punch-c {
    left: -60rem;
  }

  .type__punch-e {
    right: -57rem;
  }

  .type__punch-d {
    margin-top: 11rem;
  }

  .title__friends {
    font-size: 7rem;
    max-width: 50rem;
    line-height: 7rem;
    padding-bottom: 3rem;
  }

  .chapter__3 {
    padding-top: 10rem;
    padding-bottom: 2rem;
  }

  .title__success {
    font-size: 7rem;
    padding-left: 5rem;
  }

  .success__text {
    max-width: 60rem;
  }

  .quote-slide {
    font-size: 6rem;
  }

  .specimen__text {
    font-size: 1.4rem;
    line-height: 2.5rem;
    max-width: 40rem;
  }

  .specimen__text-container {
    margin-bottom: 12rem;
  }

  form {
    margin-bottom: 5rem;
  }

  .specimen__interaction {
    padding-bottom: 12rem;
  }

  .chapter__4 {
    margin-top: 9rem;
  }

  .title__world {
    font-size: 7rem;
    padding-left: 5rem;
  }

  .text__world {
    max-width: 60rem;
  }

  .chapter__4-middle {
    max-width: 70rem;
    padding: 2rem 15rem 4rem;
    font-size: 1.5rem;
    line-height: 3rem;
  }

  .img__shapes {
    max-width: 50rem;
    margin-top: -45rem;
  }

  .chapter__5 {
    padding-bottom: 2rem;
  }

  .title__characteristics {
    font-size: 5rem;
    max-width: 60rem;
    line-height: 6rem;
  }

  .characteristics__words {
    font-size: 1.2rem;
  }

  .characteristic__text-container {
    line-height: 2.5rem;
    max-width: 40rem;
  }

  .sticky {
    max-width: 45rem;
  }

  .img__shelf-l {
    max-width: 40rem;
    margin-left: -13rem;
  }

  .img__shelf-r {
    max-width: 40rem;
    margin-right: -13rem;
  }
}
